.requirement {
    max-width: 728px;
    padding: 96px 0;

    .requirement__title {
        color:#1C3554;
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        text-transform: capitalize;
        margin-bottom: 40px;
    }
}

.requirement__lists {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 40px;
    border-radius: 5px;
    background-color: #FFF5F9;

    li {
        color: #1C3554;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        display: flex;
        column-gap: 8px;
        align-items: center;

        i {
            color: #F72585;
        }
    }
}

