.footer {
    max-width: 1360px;
    margin: 0 auto;
    background-color: #021934;
    border-radius: 8px;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 40px;

    .wrapper {
        column-gap: 120px;
        margin-bottom: 80px;
        .footer__logo-text {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            margin-top: 36px;
        }
    }

}

.footer__logo-content {
    max-width: 500px;
}

.footer__lists-card {
    width: 100%;
    display: flex;
    justify-content: space-between;

    ul li {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 8px;
        &:first-child {
            font-size: 24px;
            margin-bottom: 24px;
        }
        a {
            text-decoration: none;
        }
    }
}

.footer__bottom {
    p, a {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
    }

    .footer__privacy a {
        text-decoration: none;
        margin-right: 40px;
    }
}