* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

a {
  color: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
header,
section,
footer,
form,
button {
  margin: 0;
  padding: 0;
}

.my-container {
  max-width: 1256px;
  padding: 0 12px;
  margin: 0 auto;
  box-sizing: border-box !important;
}

h1, h2, h3, h4 {
  font-family: "Rubik", sans-serif;
}

h1[class*=__title] {
  font-size: 64px;
  font-weight: 700;
  line-height: 88px;
}

h2[class*=__title] {
  font-size: 48px;
  font-weight: 700;
  line-height: 63.984px;
  color: #1C3554;
}

h3[class*=__title], h3[class*=-title] {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.btn {
  padding: 8px 32px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

.nav {
  padding: 36px 0;
}
.nav .wrapper {
  width: 100%;
  column-gap: 24px;
}
.nav .wrapper .nav__logo {
  width: 161px;
  height: 32px;
}
.nav .wrapper input[type=checkbox] {
  display: none;
}
.nav .wrapper .menu, .nav .wrapper .close {
  font-size: 20px;
  cursor: pointer;
  color: #1C3554;
  display: none;
}
.nav .wrapper .nav__sections {
  column-gap: 24px;
  margin-left: auto;
}
.nav .wrapper .nav__sections .becomeMentor {
  color: #1C3554;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px; /* 200% */
  text-decoration: none;
}

.nav__sections .nav__form {
  column-gap: 40px;
}
.nav__sections .nav__form .input__search {
  width: 443px;
}
.nav__sections .nav__form .input__search input {
  width: 100%;
  padding: 12px 0 12px 16px;
  border: none;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #CCCCCC;
  border-right: none;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.nav__sections .nav__form .input__search label {
  border: none;
  outline: none;
  border: 1px solid #CCCCCC;
  border-left: none;
  color: #808080;
  font-size: 16px;
  padding: 12px 16px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fff;
}
.nav__sections .nav__form .input__category select {
  color: #1C3554;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px; /* 200% */
  background-color: transparent;
  border: none;
  outline: none;
}
.nav__sections .nav__form .input__category select option:nth-child(1) {
  display: none;
}

.nav__register {
  column-gap: 16px;
}
.nav__register .nav__login {
  color: #1C3554;
  border: 1px solid #1C3554;
}
.nav__register .signup {
  color: #fff;
  background-color: #F72585;
  border: 1px solid #F72585;
}
.nav__register .signup:hover {
  background-color: transparent;
  color: #F72585;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav .wrapper .menu, .nav .wrapper .close, .nav .wrapper .nav__sections .becomeMentor {
  color: #fff;
}

.nav__sections .nav__form .input__search input {
  background-color: transparent;
  color: #E6E6E6;
}
.nav__sections .nav__form .input__search input::placeholder {
  color: #E6E6E6;
}
.nav__sections .nav__form .input__search label {
  background-color: transparent;
  color: #fff;
}
.nav__sections .nav__form .input__category select {
  color: #fff;
}
.nav__sections .nav__form .input__category select option {
  color: #000;
}

.nav__register .nav__login {
  color: #fff;
  border-color: #fff;
}

.showcase {
  padding-top: 16px;
  padding-bottom: 120px;
}
.showcase .showcase__lists {
  column-gap: 8px;
}
.showcase .showcase__lists li {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.showcase .showcase__lists li:first-child {
  color: #E6E6E6;
}
.showcase .showcase__title {
  margin-top: 64px;
  color: #fff;
  text-transform: capitalize;
}

.article {
  padding-top: 96px;
  padding-bottom: 160px;
}

.article__cards .article__card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}
.article__cards .article__card .article__img {
  max-width: 608px;
  height: 517px;
}
.article__cards .article__card .article__img img {
  width: 100%;
  border-radius: 8px;
}
.article__cards .article__card .article__content {
  margin-top: 12px;
  max-width: 552px;
}
.article__cards .article__card .article__content .article__date {
  margin: 24px 0;
  display: flex;
  align-items: center;
  column-gap: 16px;
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.article__cards .article__card .article__content .article__date li:nth-child(2) {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4586D6;
}
.article__cards .article__card .article__content .article__text {
  margin-bottom: 72px;
  color: #808080;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.article__cards .article__card .article__content .read-more {
  padding: 12px 32px;
  color: #fff;
  background-color: #F72585;
  border: 1px solid transparent;
}
.article__cards .article__card .article__content .read-more:hover {
  border-color: #F72585;
  background-color: transparent;
  color: #F72585;
}

.pagination {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}
.pagination li {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 4px;
}
.pagination li a {
  text-decoration: none;
}
.pagination li:first-child {
  color: #E6E6E6;
  pointer-events: none;
  cursor: default;
}
.pagination li:last-child {
  color: #F72585;
}
.pagination li:nth-child(3), .pagination li:nth-child(4), .pagination li:nth-child(5), .pagination li:nth-child(6) {
  color: #ccc;
  font-weight: 400;
  line-height: 32px;
}
.pagination li:nth-child(3):hover, .pagination li:nth-child(4):hover, .pagination li:nth-child(5):hover, .pagination li:nth-child(6):hover {
  color: #fff;
  background-color: #F72585;
}
.pagination li:nth-child(2) {
  color: #fff;
  background-color: #F72585;
  font-weight: 400;
  line-height: 32px;
}

.footer {
  max-width: 1360px;
  margin: 0 auto;
  background-color: #021934;
  border-radius: 8px;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 40px;
}
.footer .wrapper {
  column-gap: 120px;
  margin-bottom: 80px;
}
.footer .wrapper .footer__logo-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 36px;
}

.footer__logo-content {
  max-width: 500px;
}

.footer__lists-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__lists-card ul li {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 8px;
}
.footer__lists-card ul li:first-child {
  font-size: 24px;
  margin-bottom: 24px;
}
.footer__lists-card ul li a {
  text-decoration: none;
}

.footer__bottom p, .footer__bottom a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.footer__bottom .footer__privacy a {
  text-decoration: none;
  margin-right: 40px;
}

@media (max-width: 1260px) {
  .nav__sections .nav__form .input__search {
    width: 300px;
  }
}
@media (max-width: 1230px) {
  .article__cards .article__card {
    flex-direction: column;
    row-gap: 20px;
  }
  .article__cards .article__card .article__img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .article__cards .article__card .article__content {
    max-width: 100%;
  }
}
@media (max-width: 1110px) {
  .nav__sections .nav__form {
    column-gap: 24px;
  }
  .nav__sections .nav__form .input__search {
    width: 100%;
  }
}
@media (max-width: 1080px) {
  .footer .wrapper {
    flex-direction: column;
    row-gap: 25px;
  }
  .footer .wrapper .footer__logo-content {
    max-width: 100%;
  }
}
@media (max-width: 1035px) {
  .my-container {
    width: 90%;
  }
  .nav .wrapper .menu {
    display: inline-block;
    margin-left: auto;
  }
  .nav .wrapper #menu:checked ~ .nav__sections {
    transform: translateX(0);
  }
  .nav .wrapper .nav__sections {
    position: fixed;
    z-index: 999;
    width: 50%;
    height: 100vh;
    top: 0;
    right: 0;
    background: rgba(2, 25, 52, 0.9);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    flex-direction: column;
    justify-content: center;
    row-gap: 24px;
    transform: translateX(200%);
    transition: transform 0.3s ease;
    color: #fff;
  }
  .nav .wrapper .nav__sections .close {
    display: inline-block;
    color: #fff;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .nav .wrapper .nav__sections .nav__form, .nav .wrapper .nav__sections .nav__register {
    flex-direction: column;
    row-gap: 24px;
  }
  .nav .wrapper .nav__sections .nav__form {
    width: 80%;
  }
  .nav .wrapper .nav__sections .nav__form select {
    color: #fff;
  }
  .nav .wrapper .nav__sections .nav__form select option {
    color: #1C3554;
  }
  .nav .wrapper .nav__sections .becomeMentor {
    color: #fff;
  }
  .nav .wrapper .nav__sections .nav__login {
    border-color: #fff;
    color: #fff;
  }
}
@media (max-width: 850px) {
  .footer .wrapper {
    margin-bottom: 40px;
  }
  .footer__bottom {
    flex-direction: column;
    row-gap: 20px;
  }
}
@media (max-width: 800px) {
  .showcase {
    padding-bottom: 60px;
  }
  .showcase .showcase__title {
    font-size: 40px;
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .footer .wrapper .footer__logo-text {
    font-size: 14px;
  }
  .footer__lists-card {
    column-gap: 15px;
  }
  .footer__lists-card ul li {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .footer__lists-card ul li:first-child {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
@media (max-width: 530px) {
  .my-container {
    width: 95%;
  }
  h2[class*=__title] {
    font-size: 30px;
    line-height: 40px;
  }
  .showcase {
    padding-bottom: 40px;
  }
  .showcase .showcase__title {
    font-size: 30px;
    margin-top: 20px;
    line-height: 20px;
  }
  .article {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .article__cards .article__card .article__content .article__date {
    margin: 16px 0;
  }
  .article__cards .article__card .article__content .article__text {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .article__cards .article__card .article__content .read-more {
    font-size: 14px;
  }
  .pagination {
    column-gap: 10px;
  }
  .pagination li {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .nav__sections .nav__form .input__search input, .nav__sections .nav__form .input__category select {
    font-size: 14px;
  }
  .nav .wrapper .nav__sections {
    width: 60%;
  }
  .nav .wrapper .nav__sections .becomeMentor, .nav .wrapper .nav__sections .nav__register .nav__login, .nav .wrapper .nav__sections .nav__register .signup {
    font-size: 14px;
  }
  .article__cards .article__card .article__content .article__title {
    font-size: 25px;
  }
  .footer {
    padding-top: 40px;
  }
  .footer__lists-card {
    row-gap: 15px;
    flex-direction: column;
  }
  .footer__lists-card ul li {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .footer__lists-card ul li:first-child {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .footer__bottom {
    justify-content: center;
    text-align: center;
    row-gap: 10px;
  }
  .footer__bottom .footer__privacy {
    flex-direction: column;
    justify-content: center;
  }
  .footer__bottom .footer__privacy a {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

/*# sourceMappingURL=blog.css.map */
