@media (max-width: 1350px) {
   .carousel__cards {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 15px;
      row-gap: 15px;
   }

   #carousel {
      .carousel-control-prev {
         left: -10px;
     }
     .carousel-control-next {
         right: -10px;
     }
   }
}

@media (max-width: 1260px) {
    .nav__sections .nav__form {
       .input__search {
          width: 300px;
       }
    }
}

@media (max-width: 1110px) {
    .nav__sections .nav__form {
       column-gap: 24px;
       .input__search {
          width: 100%;
       }
    }
 
    .showcase__content {
       .showcase__text {
          margin-bottom: 30px;
       }
    }
}

@media (max-width: 1080px) {
   .topics__cards {
      grid-template-columns: repeat(3, 1fr);
   }

   .allcourses__cards {
      grid-template-columns: repeat(2, 1fr);

      .allcourses__card {
         max-width: 100%;
      }
   }

    .footer .wrapper {
       flex-direction: column;
       row-gap: 25px;
 
       .footer__logo-content {
          max-width: 100%;
       }
    }
}

@media (max-width: 1035px) {
    .my-container {
       width: 90%;
    }
    .nav .wrapper {
       .menu {
          display: inline-block;
          margin-left: auto;
       }
 
       #menu:checked ~ .nav__sections{
          transform: translateX(0);
       }
 
       .nav__sections {
          position: fixed;
          z-index: 999;
          width: 50%;
          height: 100vh;
          top: 0;
          right: 0;
          background: rgba( 2, 25, 52, 0.9 );
          box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
          backdrop-filter: blur( 4px );
          -webkit-backdrop-filter: blur( 4px );
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          border: 1px solid rgba( 255, 255, 255, 0.18 );
          flex-direction: column;
          justify-content: center;
          row-gap: 24px;
          transform: translateX(200%);
          transition: transform .3s ease;
          color: #fff;
    
          .close {
             display: inline-block;
             color: #fff;
             position: absolute;
             top: 30px;
             right: 30px;
          }
    
          .nav__form, .nav__register {
             flex-direction: column;
             row-gap: 24px;
          }
    
          .nav__form {
             width: 80%;
             select {
                color: #fff;
                option {
                   color: #1C3554;
                }
             }
          }
 
          .becomeMentor {
             color: #fff;
          }
 
          .nav__login {
             border-color: #fff;
             color: #fff;
          }
       }
    }
}

@media (max-width: 950px) {
   .carousel__cards {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 15px;
      row-gap: 15px;
   }

   #carousel {
      .carousel-control-prev {
         left: -47px;
     }
     .carousel-control-next {
         right: -47px;
     }
   }

   .topics__cards {
      grid-template-columns: repeat(2, 1fr);
      .topics__card {
         max-width: 100%;
      }
   }

   .topics {
      .topics__intro {
         .topics__title {
            font-size: 36px;
         }

         .see__all-btn {
            max-width: 180px;
         }
      }
   }

   .allcourses__intro {
      .allcourses__title {
         font-size: 36px;
      }
      .allcourses__buttons {
         column-gap: 20px;
      }
   }
}

@media (max-width: 900px) {
   .allcourses__cards {
      grid-template-columns: 1fr;
   }
}

@media (max-width: 850px) {
    .footer .wrapper {
        margin-bottom: 40px;
     }
  
     .footer__bottom {
        flex-direction: column;
        row-gap: 20px;
     }
}

@media (max-width: 750px) {
   .allcourses__intro {
      flex-direction: column;
      row-gap: 20px;
   }
}

@media (max-width: 720px) {
   .carousel__cards {
      grid-template-columns: 1fr;
   }

   #carousel {
      .carousel-indicators {
         display: block;
         text-align: center;
      }

      .carousel-control-prev {
         left: -20px;
         display: none;
     }
     .carousel-control-next {
         right: -20px;
         display: none;
     }
   }
}

@media (max-width: 600px) {
   .topics {
      margin-bottom: 100px;
   }

   .topics__cards {
      grid-template-columns: 1fr;
      .topics__card {
         text-align: center;
      }
   }

   .allcourses {
      margin-bottom: 100px;
   }

    .footer .wrapper .footer__logo-text {
        font-size: 14px;
     }
  
     .footer__lists-card {
        column-gap: 15px;
  
        ul li {
           font-size: 14px;
           margin-bottom: 2px;
           &:first-child {
              font-size: 18px;
              margin-bottom: 10px;
           }
        }
    }

   .allcourses__content {
      flex-direction: column;
      row-gap: 30px;

      .accordion {
         width: 100%;
         border-right: none;
         padding-right: none;
      }

      .allcourses__cards {
         margin: 0 auto;
      }
   }
}

@media (max-width: 700px) {
   .showcase {
        .showcase__title {
            font-size: 48px;
            line-height: 60px;
        }
   }

   .topics {
      .topics__intro {
         flex-direction: column;
         row-gap: 20px;

         .see__all-btn {
            max-width: 250px;
         }
      }
   }
}

@media (max-width: 530px) {
    .my-container {
       width: 95%;
    }

    h2[class *= "__title"] {
        font-size: 30px;
    }

    .showcase {
        .showcase__title {
            font-size: 32px;
            line-height: 48px;
        }

        .showcase__text {
            font-size: 14px;
            line-height: 20px;
            margin-top: 15px;
            margin-bottom: 25px;
        }

        .showcase__courses-title {
            font-size: 25px;
            line-height: 32px;
            margin-bottom: 20px;
        }
    }

    .topics {
      .topics__intro {
         margin-bottom: 30px;
         .topics__title {
            font-size: 25px;
            line-height: 30px;
         }
      }
   }

   .topics__cards .topics__card span {
      font-size: 20px;
   }

   .allcourses__intro {
      column-gap: 15px;
      .allcourses__title {
         font-size: 25px;
      }
   }

   .accordion {
      .accordion-item {
         .accordion-button {
            font-size: 20px;
            margin-bottom: 10px;
         }

         .accordion-body {
            row-gap: 5px;

            .accordion__body-item {
               column-gap: 4px;

               input {
                  width: 12px;
                  height: 12px;
               }

               label {
                  column-gap: 4px;

                  .accordion__stars {
                     font-size: 10px;
                  }

                  .accordion__item-title {
                     font-size: 14px;
                  }
               }
            }
         }
      }

      .accordion__divider {
         margin: 16px 0;
      }
   }

   .allcourses__card {
      .allcourses__card-team {
         margin: 4px 0;
      }

      .allcourses__card-rating {
         margin-bottom: 8px;
      }

      .allcourses__cards-price {
         column-gap: 6px;
         del {
            font-size: 14px;
         }
         p {
            font-size: 18px;
         }
      }
   }

   .pagination {
      column-gap: 10px;
      li {
         font-size: 14px;
      }
   }
}

@media (max-width: 460px) {
   .allcourses__intro {
      .allcourses__buttons {
         flex-direction: column;
         row-gap: 15px;
      }
   }
}

@media (max-width: 400px) {
    .nav__sections .nav__form {
       .input__search input, .input__category select {
          font-size: 14px;
       }
    }
 
    .nav .wrapper .nav__sections {
       width: 60%;
       .becomeMentor, .nav__register .nav__login, .nav__register .signup {
          font-size: 14px;
       }
    }

    .showcase {
        .showcase__intro {
            flex-wrap: wrap;
            a, p {
                font-size: 14px;
            }
        }
    }

    .footer {
        padding-top: 40px;
     }
  
     .footer__lists-card {
        row-gap: 15px;
        flex-direction: column;
        ul li {
           font-size: 14px;
           margin-bottom: 2px;
           &:first-child {
              font-size: 18px;
              margin-bottom: 10px;
           }
        }
    }
  
     .footer__bottom {
        justify-content: center;
        text-align: center;
        row-gap: 10px;
        .footer__privacy {
           flex-direction: column;
           justify-content: center;
           a {
              display: block;
              margin: 0 auto;
              text-align: center;
           }
        }
    }
}

@media (max-width: 300px) {
    .showcase {
        .showcase__title {
            font-size: 28px;
            line-height: 30px;
        }

        .showcase__courses-title {
            font-size: 22px;
        }
    }

   .allcourses__intro {
      .allcourses__buttons {
         .most__popular-btn {
            padding: 16px;
         }
      }
   }
}

@media (max-width: 320px) {
   .carousel__card {
      .carousel__img span {
         width: 60%;
         text-align: center;
         padding: 4px 10px;
      }
   }
}